/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.container {
    padding: 50px;
    text-align: center;
}

.container h2 {
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}

.container p {
    margin: 20px 0;
    color: #555;
}

.container a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}

.container .btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.container .btn:hover {
    background-color: #004494;
    transform: scale(1.05);
}
